@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-3">
    <h1>Welcome to PulseAsset</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p><a asp-area="Identity" asp-route="/Identity/Account/Login">Login</a> to get started managing assets. Don't have an account? <a asp-area="Identity" asp-route="/Identity/Account/Register">Register now.</a></p>
    }
    else
    {
        <p>You are already signed into PulseAsset. Feel free to navigate using the links at the top of the screen to add, edit, or remove assets.</p>
    }
</div>